/** @format */

#newscontainer {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}
#newscontainer .news-col {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 2rem;
}
#newscontainer .news-col .col8 {
}
#newscontainer .news-col .col8 .care {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 4rem;
}
#newscontainer .news-col .col8 i {
  position: relative;
  left: -25rem;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
}
#newscontainer .news-col .col8 h3 {
  font-size: 2.4rem;
}
#newscontainer .news-col .col8 p {
  font-size: 1.85rem;
  margin-bottom: 1rem;
  color: #262626;
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.5;
  text-align: left;
}
#newscontainer .news-col .col8 i:hover {
  transform: scale(1.01);
  color: #06aa2a;
}
#newscontainer .news-col .col4 .sidenav {
  width: 90%;
  box-shadow: 0 0 1px black;
  padding: 1vw 1.5vw;
  margin: 0 auto;
}

#newscontainer .news-col .col4 {
  margin-top: 2rem;
  height: 100px;
  background-color: red;
}
